/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #626262;
    color: #f1f1f1;
    padding: 15px;
}

header {
    background-color: #555;
    color: #f1f1f1;
    padding: 15px;
}

.body-container {
    /*margin-top: 5%;*/
    width: 80vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

table{
    text-align: center;
}

th {
    text-align: center;
}

tr {
    text-align: center;
}

td {
    text-align: center;
}

#wrapper {
    position: relative;
}

#center {
    width: 40%;
    height: 20%;
    top: 40%;
    left: 40%;
    position: absolute;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}
